<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>I'm in the AppComponent!</h3>
            <hr />
            <!-- Current version when we had 'app-servers' as a tag: -->
            <app-servers></app-servers>
            <!-- Previous version where we can use 'app-servers' as an attribute for a div tag (but it's not typically used): -->
            <!-- <div app-servers></div> -->
            <!-- Previous version where we can use the 'app-servers' class for a div tag (but it's not typically used): -->
            <!-- <div class="app-servers"></div> -->
        </div>
    </div>
</div>