<!-- NOTE: We are binding the 'disabled' property to be the opposite of the 'allowNewServer' boolean value: -->
<!-- NOTE: We are using event binding with the (click) event in this example as well:  -->
<button 
    class="btn btn-primary" 
    [disabled]="!allowNewServer"
    (click)="onCreateServer()">
        Add Server
</button>
<p>String Interpolation Example: {{ allowNewServer }}</p>
<!-- NOTE: We can bind to the 'innerText' property using data binding in this case -->
<p [innerText]="allowNewServer">{{ allowNewServer }}</p>
<!-- Outputting the value of a property: -->
<p>{{ serverCreationStatus }}</p>
<app-server></app-server>
<app-server></app-server>