<!-- NOTE: This is used so we can grab event data from the user's input: -->
<label>Server Name</label>
<!-- NOTE: Example of one-way databinding, commented out to show better 'Two-Way-Databinding' approach: -->
<input 
    type="text" 
    class="form-control"
    (input)="onUpdateServerName($event)" 
/>
<!-- NOTE: This is an example of 'Two-Way-Databinding' that will trigger on the update event, and update the value of the component automatically  -->
<!-- NOTE: It will also update the 'value' of the input element if we update 'serverName' somewhere else as well -->
<input 
    type="text"
    class="form-control"
    [(ngModel)]="serverName"
/>

<!-- NOTE: This is commented out since we want the 'serverName' to be displayed once we click the related 'Add Server' button below: -->
<!-- <p>{{ serverName }}</p> -->

<!-- NOTE: We are binding the 'disabled' property to be the opposite of the 'allowNewServer' boolean value: -->
<!-- NOTE: We are using event binding with the (click) event in this example as well:  -->
<button 
    class="btn btn-primary" 
    [disabled]="!allowNewServer"
    (click)="onCreateServer()">
        Add Server
</button>
<p>String Interpolation Example: {{ allowNewServer }}</p>
<!-- NOTE: Commenting out since we are using '*ngIf' with a related variable from the Server component instead below: -->
<!-- Outputting the value of a property: -->
<!-- <p>{{ serverCreationStatus }}</p> -->
<!-- NOTE: We can bind to the 'innerText' property using data binding in this case -->
<p [innerText]="allowNewServer">{{ allowNewServer }}</p>

<!-- Example of using a 'directive', speciifically the 'ngIf' directive -->
<h3>Using ngIf with its corresponding 'else' block: </h3>
<p *ngIf="serverCreated; else noServer">Server was created, server name is {{ serverName }}</p>
<ng-template #noServer>
    <p>No server was created!</p>
</ng-template>
<app-server></app-server>
<app-server></app-server>